hostname {{ hostname }}

{% for server_name, IP in servers.items() %}
ip name-server {{ IP }}
{% endfor %}


ip domain-name {{ domain_name }}

aaa new-model

! VLAN Configuration
{% for vlan in vlans %}
vlan {{ vlan.id }}
 name {{ vlan.name }}
{% endfor %}

ip access-list standard VTY-Sec
 permit {{ LAN_net }}
 permit {{ LAB_net }}
 deny   any

interface Vlan100
 description Lab Mgmt Interface
 ip address {{ vlan_100_IP }}

line vty 0 4
 login local
 transport input ssh
line vty 5 15
 login local
 transport input ssh

ip default-gateway {{ default_gateway }}

no ip http server
no ip http secure-server
netconf ssh