hostname {{ hostname }}

!DNS server config
{% for server in servers %}
ip name-server {{ server.IP }}
{% endfor %}

ip domain-name {{ domain_name }}

aaa new-model
aaa authentication login default local
aaa authorization exec default local

ip vrf definition

!VLAN Configuration
{% for vlan in vlans %}
vlan {{ vlan.id }}
 name {{ vlan.name }}
{% endfor %}

ip access-list standard VTY-Sec
 permit {{ LAN_net }}
 permit {{ LAB_net }}
 permit {{ MGMT_net}}
 deny any log

{% for interface in interfaces %}
interface Vlan100
 description Lab Mgmt Interface
 vrf forwarding mgmt-vrf 
 ip address {{ vlan_100_IP }}
# ip ospf 1 area 1
{% endfor %}

line vty 0 4
 transport input ssh
 exec-timeout 30
line vty 5 15
exec-timeout 30
 transport input ssh

no ip http server
no ip http secure-server
netconf ssh