hostname {{ hostname }}

! VLAN Configuration
{% for vlan in vlans %}
vlan {{ vlan.id }}
 name {{ vlan.name }}
{% endfor %}

! DNS Configuration
ip name-server {{ GOOGLE }} {{ CLOUD }}

ip domain-name {{ domain_name }}
